<app-bodega-menu></app-bodega-menu>
<div class="container">
  <div class="card top">
    <div class="cad-hearder">
      <h2 class="text-center mt-3">
      </h2>
    </div>
    <div class="card-body">
      <div class="col border-col mx-5 pt-3 px-3 mb-3">
        <form class="row g-3" [formGroup]="form" (ngSubmit)="agregarProduct()">
          <h3 class="text-center"><strong>Registrar producto en bodega</strong></h3>
          <label for="codigoProducto">Productos existentes</label>
          <select
            formControlName="codigoProducto"
            class="form-select"
            aria-label="Default select example"
          >
            <option
              *ngFor="let p of products; let i = index"
              value="{{ p.codigo }}"
              selected
            >
              {{ p.nombre }}
            </option>
          </select>
          <label for="cantidad">Cantidad</label>
          <input
            type="number"
            class="form-control"
            formControlName="cantidad"
            id="cantidad"
            placeholder="Cantidad"
            autocomplete="off"
            min="1"
          />
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3" [disabled]="!form.valid">
              Registrar producto
            </button>
          </div>
        </form>
      </div>

      <div class="col border-col mx-5 pt-5 px-3">
        <form class="row g-3" [formGroup]="form2" (ngSubmit)="registrarNuevo()">
          <h3 class="text-center"><strong>Registrar nuevo producto</strong></h3>
          <label for="nombre">Nombre del producto nuevo</label>
          <input
            type="text"
            class="form-control"
            formControlName="nombre"
            id="nombre"
            placeholder="Nombre del producto"
            autocomplete="off"
          />

          <label for="precio">Precio</label>
          <input
            type="number"
            class="form-control"
            formControlName="precio"
            id="precio"
            autocomplete="off"
            min="1"
          />

          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3" [disabled]="form2.valid">
              Registrar nuevo producto
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
