<app-menu-inventario></app-menu-inventario>
<div class="container">
    <!-- productos -->
 <div class="card top">
   <div class="cad-hearder">
   </div>
   <div class="card-body">
     <h2 class="text-center"><strong> Productos en bodega </strong></h2>
     <table class="table table-striped table-hover">
       <thead>
         <tr class="table-primary">
           <th scope="col">No.</th>
           <th scope="col">Codigo</th>
           <th scope="col">Nombre del juego</th>
           <th scope="col">Unidades disponibles</th>
           <th scope="col">Accion</th>
         </tr>
       </thead>
       <tbody>
         <tr *ngFor="let producto of productos; let i = index">
           <td>{{ i + 1 }}</td>
           <td>{{ producto.codigo }}</td>
           <td>{{ producto.nombre }}</td>
           <td>{{ producto.cantidad }}</td>
           <td>
            <form
            [formGroup]="getForm(i)"
            (ngSubmit)="trasladarProductos(producto, i)"
            class="row"
          >
            <div class="col-4">
              <label for="cantidad">Unidades</label>
              <input
                type="number"
                min="0"
                class="form-control"
                formControlName="cantidad"
                id="cantidad"
                autocomplete="off"
              />
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary mt-3">
                Trasladar
              </button>
            </div>
          </form>
           </td>
         </tr>
       </tbody>
     </table>
   </div>
 </div>
</div>