<app-admin-menu></app-admin-menu>
<div class="container top">
  <div class="row justify-content-center">
    <div class="card mt-1 w-50 border-col">
      <div class="card-header">
        <legend class="text-center">
          <h2><strong>Registro de usuarios</strong></h2>
        </legend>
      </div>
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="userRegister()">
          <fieldset>
            <div>
              <label for="username" class="form-label mt-4"
                >Nombre de usuario</label
              >
              <input
                name="username"
                formControlName="username"
                type="text"
                class="form-control"
                id="username"
                aria-describedby="emailusernameHelp"
                placeholder="Ingrese el nombre de usuario"
                autocomplete="off"
                (keypress)="searchUsername()"
              />
              <small id="emailHelp" class="form-text text-danger" *ngIf="showLegendUsername == true"
                >El username ya se encuentra en uso </small
              >
            </div>
            <div>
              <label for="password" class="form-label mt-4">Contraseña</label>
              <input
                name="password"
                formControlName="password"
                type="password"
                class="form-control"
                id="password"
                placeholder="Ingrese la contraseña del usuario"
                autocomplete="off"
              />
            </div>
            <div>
              <label for="tipo" class="form-label mt-4">Tipo de usuario</label>
              <select
                name="tipo"
                formControlName="tipo"
                class="form-select"
                id="tipo"
                is
                autocomplete="off"
                (change)="isSelected()"
              >
                <option *ngFor="let t of tipos" value="{{ t }}">{{ t }}</option>
              </select>
             
            </div>
            <div *ngIf="showSucursal">
              <label for="selectSucursal" class="form-label mt-4"
                >Asignar sucursal</label
              >
              <select
                class="form-select"
                id="selectSucursal"
                formControlName="sucursal"
                autocomplete="off"
              >
                <option *ngFor="let s of sucursales" value="{{ s.codigo }}">
                  {{ s.nombre }}
                </option>
              </select>
            </div>
            <div>
              <label for="estado" class="form-label mt-4">Estado</label>
              <select
                name="estado"
                formControlName="estado"
                class="form-select"
                id="estado"
                autocomplete="off"
              >
                <option *ngFor="let e of estados" value="{{ e }}">{{ e }}</option>
              </select>
            </div>
          </fieldset>
          <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary">
              Registrar usuario
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
